<section class="mat-typography" style="background-color:#fafafa;">
      <div [class.mat-elevation-z8]>
          <mat-toolbar class="mat-elevation-z6" style="background-color: #673ab7; color: #fff; font-weight: 300;">Rewards Optimizer</mat-toolbar>
      </div>
    <div class="selected" style="text-align:center; padding:3rem;">
        <h1 class="mat-display-2" style="margin-bottom: 50px;">Optimize Your Rewards!</h1>
            <h2 style="font-weight: 400;">Upload some transaction history:</h2>
          
            <div>
                <!-- <button mat-raised-button color="primary">Upload CSV</button>
                 -->

                 <button mat-raised-button (click)="openInput()">
                    Select File to Upload
                </button>
            
            <input id="fileInput" hidden type="file" name="purchases" (change)="fileChange($event.target.files)" >
            
            <button mat-button [disabled]="!ourFile" (click)="upload()">Upload</button>


              </div>


              

      </div>
      <br>
      <div style="display: block; padding-top: 15px; padding-left:15px" *ngIf= "chartDatasets">
        <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
        >
        </canvas>
      </div>
<br>

<!-- <div class ="lister">
      <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>CASHBACK</mat-grid-tile>
          <mat-grid-tile>POINTS</mat-grid-tile>
          <mat-grid-tile>
            <h1> MILES </h1>
            <p>{{milesCard.name}}</p>
          </mat-grid-tile>
      </mat-grid-list>

</div> -->

          <!-- <ul>
              <li *ngFor="let card of creditCardsList.cards">
                {{card.name}} || {{card.amount_saved}} || {{card.reward_type}}
              </li>
            </ul> -->

  
</section>
  