// // @import "~_variables.css";
.selected {
  background-color: #9a67ea;
  color: white;
}

.dark {
    background-color: #26418f;
    color: white;
  }

.mat-display-2{
    font-weight: 300; 
}

.lister{
  background-color: white;
}